body {
    background-color: white;
    color: orangered;
    margin-left: 4vw;
    margin-top: 2vw;
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
}
article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
section {
    padding: 1rem;
}

h1 {
    font-family: "new-kansas", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 3vh;
    margin-bottom: 70px;
    font-size: 60px;
    border-bottom: 2px solid orangered;
    width: 90vw;
    line-height: 10vh;
}
a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    line-height: 50px;
}
a:hover {
    font-size: 40px;
}
h3{
    font-size: 40px;
    font-weight: 600;
}
h2 {
    border-top: 2px solid orangered;
    line-height: 9vh;
    width: 90vw;
    margin-top: 20vh;
}
@media only screen and (max-width: 500px){
    body{
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }
    h1{
        font-size: 13vw;
        line-height: 15vw;
        margin-top: 5vw;
        margin-bottom: 30px;
        width: 100vw;
    }
    article{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
    h2{
        margin-top: 8vh;
        width: 100vw;
    }
    a {
        line-height: 5vh;
    }
    a:hover{
        font-size: larger;
    }

}
