/*@font-face {
  font-family: 'Allium Rounded';
  font-weight: bold;
  src: url('fonts/AlliumRounded-Black.woff2') format('woff2');
}*/

body{
    font-family: 'Allium Rounded', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  main{
    font-size: 6vw;
    margin: auto;
    text-align: center;
    max-width: 80%;
  }
  
  button{
    margin-bottom: 3rem;
    background-color: skyblue;
    font-size: 2vw;
    font-family: 'Allium Rounded', sans-serif;
    padding: .5em;
    border: 3px solid;
    border-radius: 100px;
    outline: none;
  }
  
  button:hover{
    background: orange;
    cursor: pointer;
  }
  
  #foximage {
    width:80%;
    height:auto;
  }
  