body{
    background-color: black;
    color: white;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
p{
    font-style: italic;
    font-weight: 700;
    font-size: .7vw;
}
.circle {
    font-size: .9vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: black;
    border: .5pt solid white;
    color: black;
    margin: 0 auto;
    margin-top: 10vw;
    padding: 30pt;
    text-align: center;
    align-items: center;
    position: relative;
    filter: blur(2pt);
}
.circle:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
a{
    font-size: 5vw;
    margin-left:90vw;
    margin-top:-5vw;
    color: white;
    text-decoration: none;
  }