body{
    background:black;
    color: white;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  p{
      font-style: italic;
      font-weight: 700;
      font-size: .7vw;
  }
  .flip-container {
    perspective: 1000px;
    margin-left: 50%
  }
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .flip-container:hover .flipper,.flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
  
  .flip-container,.front,.back {
    width: 15vw;
    height: 15vw;
  }
  
  .front,.back {
    backface-visibility: hidden;
    width:15vw;
    height:15vw;
    border-radius: 50%;
    position: absolute;
    font-size:.8vw;
    background: white;
    color: black;
    padding:1.5vw;
    text-align:center;
    align-items:center;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    background: radial-gradient(circle at 65% 15%, white 1px, white 3%, gray 60%, #E2E2E2 100%); 
    width:15vw;
    height:15vw;
    border-radius: 50%;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  .vertical.flip-container {
    position: relative;
  }
  
  .vertical .back {
    transform: rotateX(180deg);
  }
  
  .vertical.flip-container .flipper {
    transform-origin: 100% 7.5vw; 
  }
  
  .vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
  }
  
a{
    font-size: 5vw;
    margin-left:90vw;
    margin-top:-5vw;
    color: white;
    text-decoration: none;
  }