.container {
    
        height: 40vw;
        width: 28vw;
        display: flex;
        background-color: antiquewhite;
        border: 20px solid black;
}
 .grid{
        width: 20vw;
        height: 20vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: .5vw;
        margin: 0 auto;
        margin-top: 3vw;
        
    }

.orange {
    background-color: orangered;
}
.left-bottom {
    background-color: darkcyan;
    border-radius: 0% 0% 0% 50% ;
}
.facing-sides{
    background-color: darkcyan;
    border-radius: 0% 45% 0% 45%;
}
.drop {
    background-color: darkcyan;
    border-radius: 50% 50% 0% 50%;
}
.circle {
    background-color: darkcyan;
    border-radius: 50% 50% 50% 50%;
}
.square {
    background-color: darkcyan;
}
.text {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 2vw;
    text-align: right;
    width: 25vw;
    height: 5vw;
    color: black;
    position: absolute;
    top: 30vw; 
    left: 5vw;
}
.bauhaus {
    border-bottom: 3px solid black;
    color: orangered;
    font-size: 4vw;
    
}