body {
    background-color: black;
}
p {
    color: white;
    font-family: arial;
    font-style: italic; 
    font-size: 25pt;
    margin-left: 40px;
}

#zero {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 50vw;
    margin-top: -1vw;
}
#one {
    width:7pt;
    height:7pt;
    background-color: white;
    margin-left: 15vw; 
    margin-top: 5vw;
}
#two {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 70vw;
    margin-top: 5vw;
}
#three {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 50vw;
    margin-top: 5vw;
}
#four {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 60vw;
    margin-top: 5vw;
}
#five {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 30vw;
    margin-top: 7vw;
}
#six {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 80vw;
    margin-top: -20vw;
}
#seven {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 25vw;
    margin-top: 5vw;
}
#eight {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 10vw;
    margin-top: 5vw;
}
#nine {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 90vw;
    margin-top: 5vw;
}
#ten {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 70vw;
    margin-top: 5vw;
}
#eleven {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 50vw;
    margin-top: 5vw;
}
#twelve {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 10vw;
    margin-top: 5vw;
}
#thirteen {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 90vw;
    margin-top: 5vw;
}
#fourteen {
    width:5pt;
    height:5pt;
    background-color: white;
    margin-left: 65vw;
    margin-top: -5vw;
}
