body{
  margin: 0 auto;
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
}
  
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 18fr;
}

.option {
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25vw;
}
.cd-option{
  /* top left bottom right */
  padding: 1vh 0 .5vh .5vh;
  line-height: 1.1vw;
  font-size: 1.3vw;
}
.cd-option:hover{
  background-color: black;
  color: white;
}
.borough-option{
  /* top left bottom right */
  padding: 1.5vh 0 1vh .5vh;
  line-height: .5vw;
  font-size: 1.5vw;
}
.borough-option:hover{
  background-color: black;
  color: white;
}
.citywide-option{
  /* top left bottom right */
  padding: 0 0 .5vh .5vh;
  margin-top: 1vh;
  font-size: 1.5vw;
}
.citywide-option:hover{
  background-color: black;
  color: white;
}

.geotype {
  /* background-color: blue; */
  border-right: 1.3px solid black;
  color: black;
  padding-top: 1vh;
}

p {
  /* margin-left: 1vw; */
  font-size: 1.5vw;
  margin: 0;
}
p:hover {
  background-color: black;
  color: white;
}
.borough:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.geoplace {
  /* background-color: pink; */
  border-right: 1.3px solid black;
  height: 100vh;
  font-size:1.5vw;
  /* padding-top: 1vh; */
  /* padding-top: vw; */
  /* line-height: 1vw; */
  overflow-y: scroll;
}
.geoplace .geoplacename:hover {
  background-color: black;
  color: white;
}
.about{
  margin-top: 82vh;
}
.visibility{
  font-family: "Gridlite PE Variable Web";
  font-variation-settings: "wght" 600, "BACK" 200, "RECT" 200, "ELSH" 4;
  font-size: 11vw;
  margin-top: 3vw;
}
.aboutdetail {
  margin: 0 auto;
  margin-top: 10vh;
  font-size: 1.3vw;
  letter-spacing: -1px;
  width: 60vw;
}
.output_geoplacename {
  margin-left: 7vw;
  margin-top: 5vw;
  font-size: 3vw;
  width: 45vw;
  font-weight: 600;
}
.output_name{
  margin-left: 7vw;
  margin-top: 1vw;
  font-size: 2vw;
}
@font-face {
  font-family: "Gridlite PE Variable Web";
  src: url('GridlitePEVFWeb-All.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.output_datavalue{
  margin-left: 7vw;
  margin-top: 5vw;
  font-size: 22vw;
  font-family: "Gridlite PE Variable Web";
}
.highlight{
  --wght: 550;
  font-variation-settings: "wght" var(--wght), "BACK" 100, "RECT" 100, "ELSH" 4;
}
@media only screen and (max-width: 500px){
  .container{
    display: flex;
    /* grid-template-columns: 1;
    grid-template-rows: 2fr 8fr; */
    flex-direction: column;
  }
  .option{
    width: 100vw;
    height: 16vh;
    border-bottom: 1px solid black;
  }
  .geotype{
    height: 15vh;
  }
  .geoplace{
    height: 15vh;
  }
  .cd{
    line-height: 5vw;
  }
  p{
    font-size: 5vw;
    line-height: 5.5vw;
    margin-top: .2vw;
    /* letter-spacing: -.5px; */
  }
  .about{
    margin-top: 1vw;
  }
  .cd-option{
    font-size: 4vw;
    line-height: 4vw;
    padding: .5vh 0 .5vh 1vh;
    letter-spacing: -1px;
  }
  .borough-option{
    font-size: 5vw;
    line-height: 5vw;
    padding: .3vh 0 .3vh 1vh;
    letter-spacing: -1px;
  }
  .citywide-option{
    font-size: 5vw;
    line-height: 4vw;
    padding: .5vh 0 .5vh 1vh;
    margin-top: 1.5vw;
    letter-spacing: -1px;
  }
  .aboutdetail{
    font-size: 4vw;
    width: 80vw;
    margin-top: 3vh;
    margin-left: 7vw;
    letter-spacing: -.5px;
  }
  .output{
    width: 100vw;
  }
  .output_geoplacename{
    font-size: 9vw;
    width: 95vw;
    line-height: 8vw;
    margin-top: 13vh;
  }
  .output_name{
    font-size: 7vw;
  }
  .output_datavalue{
    font-size: 32vw;
    margin-top: 5vh;
  }
  .visibility{
    font-size: 16vw;
    margin-left: 0;
    /* margin-bottom: 2vh; */
    margin-top: 1vw;
  }
}