body {
    background-color: black;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
main {
    background: black;
    width: 90vw;
    margin: 0 auto;
    color: white;
    font-size: 2vh;
    margin-top: 2vw;
  }
 
  section {
    background: white;
    padding: 1rem;
    font-size: 2vh;
  }
  a{
    margin-left:90vw;
    color: white;
    text-decoration: none;
    
  }
  a:hover {
    font-size: 3vh;
  }
  .box1 {
    border-radius: 50%;
    background-color: white;
    width:15vw;
    height: 15vw;
    color:black;
    text-align: center;
    margin-top: 4vw;
    font-size:1.2vh;
    align-items: center;
  }
  .box2 {
    border-radius: 50%;
    background-color: white;
    width:25vw;
    height: 25vw;
    color:black;
    text-align: center;
    margin-left:15%;
    margin-top: 2vw;
    font-size:1.5vh;
    align-items: center;

  }
  .box3 {
    border-radius: 50%;
    background-color: white;
    width:40vw;
    height: 40vw;
    color:black;
    text-align: center;
    margin-left:50%;
    margin-top: -50vw;
    font-size: 2vh;
    align-items: center;
  }