body {
    background-color: black;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
p{
    margin-left: 2vw;
    margin-top: -10vw;
}
main {
    background: black;
    width: 90vw;
    margin: 0 auto;
    color: white;
    font-size: 2vh;
    margin-top: 2vw;
  }
  
  .back1 {
    font-size: .8vw;
    padding: 1.5vw;
    border-radius: 50%;
    background-color: white;
    width:15vw;
    height: 15vw;
    color:black;
    text-align: center;
    margin-top: 4vw;
    align-items: center;
    display: flex;
    margin-top: -2vw;
  }
  
  .back2 {
    font-size: .8vw;
    padding: 2vw;
    border-radius: 50%;
    background-color: white;
    width:21vw;
    height: 21vw;
    color:black;
    text-align: center;
    margin-left:15%;
    margin-top: 1.5vw;
    align-items: center;
    display: flex;

  }
  .back3 {
    font-size: 1vw;
    padding: 4vw;
    border-radius: 50%;
    background-color: white;
    width:32vw;
    height: 32vw;
    color:black;
    text-align: center;
    margin-left:52%;
    margin-top: -50vw;
    align-items: center;
    display: flex;
  }
  a{
    margin-left:90vw;
    color: white;
    text-decoration: none;
    font-size: 5vw;
  }