body {
    background-color: black;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
p{
    margin-left: 2vw;
    margin-top: -10vw;
}
main {
    background: black;
    width: 90vw;
    margin: 0 auto;
    color: white;
    font-size: 2vh;
    margin-top: 2vw;
  }

  .back1 {
    font-size: .8vw;
    padding: 2vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:15vw;
    height: 15vw;
    color:black;
    text-align: center;
    margin-top: 4vw;
    align-items: center;
    display: flex;
    margin-top: -2vw;
    filter: blur(1pt);
  }
  
  .back2 {
    font-size: .8vw;
    padding: 3vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:21vw;
    height: 21vw;
    color:black;
    text-align: center;
    margin-left:15%;
    margin-top: 1.5vw;
    align-items: center;
    display: flex;
    filter: blur(1.5pt);

  }
  .back3 {
    font-size: 1vw;
    padding: 5vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:32vw;
    height: 32vw;
    color:black;
    text-align: center;
    margin-left:52%;
    margin-top: -50vw;
    align-items: center;
    display: flex;
    filter: blur(1pt);
  }
  a{
    margin-left:90vw;
    color: white;
    text-decoration: none;
    font-size: 5vw;
  }
  .back1:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
  .back2:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
  .back3:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 500px){
  .back1 {
    font-size: 1vw;
    padding: 5vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:15vw;
    height: 15vw;
    color:black;
    text-align: center;
    margin: 0 auto;
    margin-top: 4vw;
    align-items: center;
    display: flex;
    filter: blur(1pt);
  }
  
  .back2 {
    font-size: 1.2vw;
    padding: 10vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:24vw;
    height: 24vw;
    color:black;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vw;
    align-items: center;
    display: flex;
    filter: blur(1.5pt);

  }
  .back3 {
    font-size: 1.2vw;
    padding: 9vw;
    border-radius: 50%;
    background-color: black;
    border: 1pt solid white;
    width:40vw;
    height: 40vw;
    color:black;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vw;
    align-items: center;
    display: flex;
    filter: blur(1pt);
  }
  a{
    margin-left:90vw;
    color: white;
    text-decoration: none;
    font-size: 5vw;
  }
  .back1:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
  .back2:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
  .back3:hover {
    filter:none;
    transition: 0.3s;
    background-color: black;
    color: white;
}
}