body{
    background-color: rgb(128, 128, 128);
    color: rgb(208, 253, 196);
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1{
    margin-top: 1vw;
    margin-bottom: 5px;
    margin-left: 2vw;
    font-family: "new-order", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    border-bottom: 2px solid rgb(208, 253, 196);
    padding-bottom: 1vw;
}
@media only screen and (max-width: 500px){
    h1 {
        font-size: 50px;
        justify-content: center;
        border-bottom: 1.5px solid rgb(208, 253, 196);
        padding-bottom: 10px;
        margin-left: 23px;
        width:fit-content;
    }
}
p{
    margin-top: -4.5vw;
    text-align: right;
    margin-right: 2vw;
    margin-bottom: 5vw;
    font-size: 1vw;
    padding-bottom: 1vw;

}
@media only screen and (max-width: 500px){
    p {
        text-align: center;
        justify-content: center;
        font-size: 15px;
        margin-top: 10px;
    }
}
h3{
    border-top: 2px solid rgb(208, 253, 196);
    margin-top: 4vw;
    font-weight: 500;
    font-size: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
}
@media only screen and (max-width:500px){
    h3 {
        font-size: 10px;
        text-align: center;
        border-top: 1.5px solid rgb(208, 253, 196);
        padding-top: 5px;
    }
}
.people{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    font-size: 3vw;
    justify-items: center;
    color: rgb(128, 128, 128);

}
.box{
    border-radius: 100px;
    width: 10vw;
    height: auto;
    background-color: rgb(208, 253, 196);
    padding: 4vw;
    padding-top: 8px;
    padding-bottom:8px;
}
@media only screen and (max-width: 500px){
    .people {
        display: flex;
        font-size: 20px;
        gap: 5px;
        overflow-x: scroll;
    }
    .box {
        padding: 40px;
        padding-top: 15px;
        padding-bottom: 15px; 
    }
}
.jenna1{
    font-family: "afronaut", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: .6vw;
}
.seyoung1{
    font-family: "pilsner", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3vw;
    padding-top: .4vw;
}
.lucy1{
    font-family: "tomasa", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1vw;
}
.geena1{
    font-family: "meatball", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    padding-top: .8vw;
}
.emily1{
    font-family: "los-feliz", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    padding-top: .6vw;
}
@media only screen and (max-width:500px){
    .jenna1{
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 45px;
    }
    .seyoung1{
        padding-top: 10px;
        font-size: 23px;
        padding-left: 18px;
        padding-right: 55px;
    }
    .lucy1{
        padding-top: 15px;
        font-size: 22px;
        padding-left: 30px;
    }
    .geena1{
        padding-top: 13px;
        font-size: 20px;
        padding-left: 25px;
        padding-right: 45px;
        justify-content: center;
        justify-items: center;
    }
    .emily1{
        padding-top: 12px;
        font-size: 20px;
        padding-left: 32px;
    }
}


#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2vw;
    font-size: 35px;
    margin-left: 1vw;
}

@media only screen and (max-width: 500px){
    #container{
        margin-top: 20px;
        font-size: 20px;
        gap: 13px;
        height: 67vh;
        overflow-y: scroll;

    }
}

.fragrance{
    border-radius: 100px;
    border: 2px solid rgb(208, 253, 196);
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media only screen and (max-width: 500px){
    .fragrance{
        padding: 20px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.fragrance .jenna{
    font-family: "afronaut", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.details{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-items: center;
    background-color: rgb(128, 128, 128);
    color:rgb(208, 253, 196);
    display: none;
}

.active .label {
    font-size: 18px;
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    border-bottom: 2px solid rgb(208, 253, 196);
   /* border: 2px solid rgb(208, 253, 196);
    border-radius: 100px; */
    width:fit-content;
    padding: 10px;
    margin-top: 20px;

}
.active .name {
    font-weight: 600;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 150px;
    line-height: 85px;
    width: 900px;
}
@media only screen and (max-width: 500px){
    .active {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        padding-left: 0;
    }
    .details {
        position: static;
    }
    .active .name {
        width: 100%;
        margin-top: 20px;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        margin-left: -1.5vw;
        margin-bottom: 10px;
    }
    .active .title {
        display: none;
    }
    .active .label {
        margin-bottom: 7px;
    }
}

.active .details{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
@media only screen and (max-width: 500px){
    .active .details{
        grid-template-columns: 1fr;
        padding-left: 2vw;
        height: fit-content;
    }
}

.active .details .info .text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-right: 3vw;
    border-top: 2px solid rgb(208, 253, 196);
    padding-top: 3vw;
    padding-bottom: 2vw;
}
@media only screen and (max-width: 500px){
    .text{
        grid-template-columns: 1fr;
    }
}
.active .details .info .text .withoutnotes{
    padding-bottom: 20px;
}
img{
    width: 500px;
    height: auto;
    margin-left: 70px;
    margin-top: 150px;
    border: 2px solid rgb(208, 253, 196);
    border-radius: 100px;
} 
@media only screen and (max-width: 500px){
    img {
        width: 60%;
        margin-top: 10vw;
    }
}
.jenna {
    font-family: "afronaut", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.seyoung{
    font-family: "pilsner", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.emily{
    font-family: "los-feliz", serif;
    font-weight: 400;
    font-style: normal;
}
.geena{
    font-family: "meatball", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lucy{
    font-family: "tomasa", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media only screen and (max-width:500px){
    .active {
        z-index: 4;
        background-color: rgb(128, 128, 128);
    }
}
