body{
  font-family: 'PingFang TC', Arial, sans-serif;
  background-color: black;
}
h1{
  font-weight: bold;
  margin-left: 1vw;
  color: white;
 
}

#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.icon{
  margin: 1vw;
  border: 1px solid white;

}
.emoji{
  font-size: 5vw;
}
.category{
  font-weight: bold;
  font-size: 1vw;
}
.phrase{
  font-size: 3vw;
}
img{
  width: 100%;
}

.food{
  color: rgb(246, 45, 182);
}
.animal{
  color: rgb(57, 238, 40);
}
.smiley{
  color: rgb(222, 213, 54);
}
.travel{
  color: skyblue;
}