body{
    background-color: black;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
#container {
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: justify;
    margin: 10%;
    color: black;
}
.box1 {
    font-size: 1vw;
    background-color: white;
    padding: 1.5vw;
    color: black;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}
.box2 {
    font-size: 1.2vw;
    padding: 2vw;
    background-color: white;
    color: black;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 50vw;
}
.box3 {
    font-size: 1vw;
    padding: 1.5vw;
    background-color: white;
    color: black;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 40vw;
    margin-top: 3vw;
}
.box4 {
    font-size: 1.2vw;
    padding: 3vw;
    background-color: white;
    color: black;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
.box5 {
    font-size: 1.2vw;
    padding: 1.5vw;
    background-color: white;
    color: black;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 45vw;
}
.box6 {
    font-size: 1vw;
    padding: 2vw;
    background-color: white;
    color: black;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 20vw;
    
}
.box7 {
    font-size: 1.4vw;
    padding:4vw;
    background-color: white;
    color: black;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 46vw;
    margin-top: 5vw;
}
a{
    font-size: 5vw;
    margin-left:90vw;
    margin-top:-5vw;
    color: white;
    text-decoration: none;
    
  }