body{
    background-color: black;
    color: white;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-weight: 100;
}
a{
    font-size: 5vw;
    margin-left:90vw;
    margin-top:-5vw;
    color: white;
    text-decoration: none;
  }