body{
    background-color: #124f0f;
    color: #aeebe5;
    font-family: 'Merriweather Sans', sans-serif;
    width: 700px;
    margin: auto;
}
h1 {
    font-size: 60px;
}
h2 {
    font-weight: 400;
    font-size: 30px;
}
p {
    font-weight: 400; 
    font-size: 20px;
    line-height: 25px;
}
a {
    color: #aeebe5;
}
@media only screen and (max-width: 480px){
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    p{
        font-size: 10px;
    }
}