body{
    background-color: white;
    color: blueviolet;
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 700px;
    margin: auto;
}
h1 {
    font-size: 60px;
}
h2 {
    font-weight: 600;
    font-size: 30px;
}
p {
    font-weight: 400; 
    font-size: 20px;
    line-height: 25px;
}
a {
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    color:#187113;
}
@media only screen and (max-width: 480px){
    body{
        width: 80vw;
    }
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h2{
        line-height: 35px;
    }
    p{
        font-size: 15px;
    }
    a {
        font-size: 20px;
    }
}