.container {
    
    height: 40vw;
    width: 28vw;
    display: flex;
    background-color: darkolivegreen;
    border: 20px solid #401401;
}
.grid{
    width: 20vw;
    height: 20vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5vw;
    margin: 0 auto;
    margin-top: 3vw;
    
}

.orange {
background-color: crimson;
}
.left-bottom {
background-color: cornsilk;
border-radius: 0% 0% 0% 50% ;
}
.facing-sides{
background-color: cornsilk;
border-radius: 0% 45% 0% 45%;
}
.drop {
background-color: cornsilk;
border-radius: 50% 50% 0% 50%;
}
.circle {
background-color: cornsilk;
border-radius: 50% 50% 50% 50%;
}
.square {
background-color: cornsilk;
}
.text {
font-family: 'Comfortaa', cursive;
font-weight: 600;
font-size: 2vw;
text-align: right;
width: 25vw;
height: 4vw;
color: #401401;
position: absolute;
top: 30vw; 
left: 5vw;
}
.bauhaus {
border-bottom: 3px solid #401401;
color: crimson;
font-size: 4vw;

}